<div class="phase-banner">
  <!--<p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="/feedback">feedback</a> will help us to improve it.</span>
  </p>-->
  
  <div class="logo">
  	<span class="organisation-logo organisation-logo-medium">Department for Work &amp; Pensions</span>
  </div>
  
  <style>
  
  .logo {
    float: left;
    width: 33.33%;
    margin-bottom: .52632em;
  }
  
  .organisation-logo-medium {
    font-size: 18px;
    line-height: 22px;
    padding: 3px 0 2px 38px;
    background-image: url(../images/icons/crests/hmrc_crest_27px.png);
    background-position: 6px center;
    background-size: auto 25px;
    border-left: 2px solid #009390;
  }
  
  </style>
  
  
</div>