// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look at elements.scss to see which files are imported.
@import 'elements';

// Set up your page container, using the frontend toolkit grid layout.

// Content wraps the entire site content block, between the header and footer.
// See elements _layout.scss line 8.
#content {
  @include site-width-container;
  @include contain-floats;
  display: block;
  padding-bottom: $gutter;
  @include media(desktop) {
    padding-bottom: $gutter*3;
  }
}

// Here's an example heading
// See elements _typography.scss line 11.
#content h1 {
  @include bold-48();
  margin-top: $gutter-half;
  margin-bottom: $gutter;
  @include media(tablet) {
    margin-top: $gutter;
    margin-bottom: $gutter*2;
  }
}

// Set up the phase banner
// See elements _layout.scss line 22.
.alpha-banner  {
  @include phase-banner(alpha); // Change this to (beta) for a beta banner
  strong {
    text-transform: uppercase;
  }
}
.alpha-tag {
  @include phase-tag(alpha); // Change this to (beta) for a beta tag
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you,
// either add and import new partial files, or modify those in GOV.UK elements to fit your user needs.
 
 
 strong {font-weight: bold}
 
.highlight-answer,
.highlighted-event {
	background-color: #28a197;
	color:#fff;
	text-align:center;
	padding:0.1em 2em 0.2em 2em;
	//margin:0 -1em 1em -1em
	margin: 0 0 1em 0
}
	
.highlight-answer p,
.highlighted-event p {
	line-height:2.3em;
	color:#fff
}
	
.highlight-answer p em,
.highlighted-event p em {
	font-size: 2.45em;
	font-style:normal;
	font-weight:700;
	display:block;
	margin-bottom:0.5em;
	color:#fff
}
	
@media (max-width: 640px){
	.highlight-answer,
	.highlighted-event {
		//margin:0 0 1em 0;
		margin:0 -1em 1em -1em;
		font-family:"nta",Arial,sans-serif;
		font-size:48px;
		line-height:1.04167;
		font-weight:400;
		text-transform:none
	}
}

@media (max-width: 640px) and (max-width: 640px) {
	.highlight-answer,
	.highlighted-event {
		font-size:32px;
		line-height:1.09375
	}
}

@media (max-width: 640px) {
	.highlight-answer p,
	.highlighted-event p {
		font-size:1em;
		line-height:inherit
	}	
	.highlight-answer p em,
	.highlighted-event p em {
		font-size:1em;
		display:inline
	}
}
 
.highlighted-event {
	padding: 1.75em 0.75em 1.25em 0.75em
}
 
@media (min-width: 641px) {
 	.highlighted-event {
 		padding: 1.75em 0.75em 1.25em 0.75em
 	}
}
 	
@media (max-width: 640px) {
 	.highlighted-event {
 		padding: 0.5em 0.75em 0.25em 0.75em
 	}
}
 
.highlighted-event p {
	font-family:"nta",Arial,sans-serif;
	font-size:24px;
	line-height: 1.25;
	font-weight: 400;
	text-transform: none;
	padding-top: 9px;
	padding-bottom: 6px;
	font-weight: bold;
	padding: 0;
	margin:0
}
 
@media (max-width: 640px){
	.highlighted-event p {
		font-size:20px;
		line-height:1.2
	}
}
 
@media (min-width: 641px) {
	.highlighted-event p {padding-top:6px;padding-bottom:4px}
}
 
@media (max-width: 640px){
	.highlighted-event p {
 		padding:0;
 		margin-top:0;
 		margin-bottom:0;
 		font-weight:bold;
 		padding:0;
 		margin:0
 	}
}
 
@media (min-width: 641px) {
	.highlighted-event p {
		padding:0;
		margin:0;
		font-weight:bold
	}
}
 
.highlighted-event p span {
 	display:block;
 	font-family:"nta",Arial,sans-serif;font-size:24px;
 	line-height:1.25;
 	font-weight:400;
 	text-transform:none;
 	padding-top:9px;
 	padding-bottom:6px;
 	font-weight:bold
 }
 	
@media (max-width: 640px){
	.highlighted-event p span {
		font-size:20px;
		line-height:1.2
	}
}

@media (min-width: 641px) {
	.highlighted-event p span {
		padding-top:6px;
		padding-bottom:4px
	}
}

.highlighted-event p em {
	display:block;
	font-family:"nta",Arial,sans-serif;font-size:80px;
	line-height:1;font-weight:400;
	text-transform:none;
	padding-top:8px;
	padding-bottom:7px;
	font-weight:bold;
	margin-bottom:0;
	padding:0;
	padding-top:0.2em;
	padding-bottom:0.1em
}

@media (max-width: 640px) {
	.highlighted-event p em {
		font-size:53px;
		line-height:1.03774
	}
}

@media (min-width: 641px){
	.highlighted-event p em {
		padding-top:6px;
		padding-bottom:14px
	}
}

@media (max-width: 640px) {
	.highlighted-event p em {
		padding:0;
		padding-top:0.2em;
		padding-bottom:0.1em
	}
}

@media (min-width: 641px) {
	.highlighted-event p em {
		padding:0;
		padding-top:0.2em;
		padding-bottom:0.1em
	}
}

.nav-tabs {
	zoom:1;
	background:#fff;
	padding:0;
	position:relative;
}
.nav-tabs:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}

.nav-tabs ol,
.nav-tabs ul {
	float:left;
	list-style: none;
	margin: 0;
	padding:0;
	position:relative;
	z-index:5
}

@media (max-width: 640px) {
	.nav-tabs ol,
	.nav-tabs ul {
		float: none;
		margin: 0 -16px
	}
}

.nav-tabs li {
	font-family:"nta",Arial,sans-serif;
	//font-size:16px;
	font-size:19px;
	line-height:1.25;
	font-weight:400;
	text-transform:none;
	padding:0;
	margin:0;
	float:left
}

@media (max-width: 640px) {
	.nav-tabs li {
		font-size:14px;
		line-height:1.14286}
	}
	
@media (max-width: 640px){
	.nav-tabs li {
		float:none
	}
}

.nav-tabs li a {
	border:solid 1px #fff;
	border-bottom:none;
	float:left;
	height:2.25em;
	line-height:2.25em;
	margin-bottom:-1px;
	padding:0 1em 0 1em;
	position:relative;
	text-align:center;
	top:0
}
		
@media (max-width: 640px){
	.nav-tabs li a {
		display:block;
		position:static;
		float:none;
		height:auto;
		line-height:3.5em;
		padding:0 16px;
		text-align:left;
		margin-bottom:0;
		border-bottom:1px solid #bfc1c3
	}
}

.nav-tabs li a:hover {
	background-color:#bfc1c3
}
.nav-tabs li.active a {
	background-color:#fff;
	border:solid 1px #bfc1c3;
	border-bottom:solid 1px #fff;
	color:#0b0c0c;
	position:relative;
	text-decoration:none;
	z-index:5
}
		
@media (max-width: 640px) {
	.nav-tabs li.active a{
		border:none;
		border-bottom:1px solid #bfc1c3
	}
}

.nav-tabs li.active a:hover{color:inherit}
.nav-tabs li:first-child a{margin-left:0}
	
@media (max-width: 640px){
	.nav-tabs li:first-child a{border-left:none;border-top:1px solid #bfc1c3}
}

.tab-content {margin-top: 2em}

@media (max-width: 640px){
	.tab-content {
		//margin:0 -1em
	}
}

.tab-content .tab-pane {
	// padding: 1em 1em 0 1em;
	padding: 1em 0 0 0;
	border-top:solid 1px #bfc1c3;
	clear:both;
	width:auto
}

@media (max-width: 640px) {
	.tab-content .tab-pane {
		border-top:none;
		padding:0
	}
}
.tab-content .inner {
	padding:0em 2.5em 1em
}

@media (max-width: 640px) {
	.tab-content .inner { 
		padding:0 1em 1em;
		border-bottom: solid 1px #C9D0D0
	}
}

.tab-content h1.visuallyhidden + h2 {margin-top:2em}
.tab-content p {
	padding:0;
	margin-left:0;
	margin-right:0
}

.tab-content em {font-style:normal;font-weight:bold}

.tab-content nav {margin:1em -1.375em 0}


// additional styles

#global-header .header-proposition {padding-top: 0}

#global-header .header-proposition #proposition-menu {margin-top: 2px}

#global-header .header-proposition #proposition-name {font-size: 22px;}

.logo-banner {
  padding: 20px 0 10px;
  margin-bottom: 45px;
}	
	
.logo {
  float: left;
  margin-bottom: .52632em;
}

.organisation-logo {
  font-size: 18px;
  line-height: 22px;
  padding: 3px 0 2px 44px;
  background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/crests/org_crest_27px-916806dcf065e7273830577de490d5c7c42f36ddec83e907efe62086785f24fb.png);
  background-position: 6px center;
  background-repeat: no-repeat;
  background-size: auto 25px;
  border-left: 2px solid #009390;
}