{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="page-container" role="main">

{{>includes/phase_banner}}

  <form action="thank-you.html" method="#" class="form">
  
  	<!--<a href="s4.html" class="example-back-link">Back</a>-->

    <h1 class="form-title heading-large">
      Declaration
    </h1>
    
    <!--
    <fieldset class="inline">
    
      <legend class="form-label-bold add-padding" for="consent">Do you agree to us contacting any health care professionals you have told us about?</legend>
    
      <div class="form-group">	
        <label class="block-label" for="consent-yes">
        <input id="consent-yes" type="radio" name="consent" value="Yes">
        Yes
      </label>
      <label class="block-label" for="consent-no">
        <input id="consent-no" type="radio" name="consent" value="No">
        No
      </label>
      
    </fieldset>
    
    -->
      
    
    <!-- Primary buttons, secondary links -->
    <div class="form-group">
      <input type="submit" class="button" value="Send Application">
    </div>

  </form>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
