{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="page-container" role="main">

  {{>includes/phase_banner}}

  <form action="s1.html" method="#" class="form">

    <h1 class="form-title heading-large">
      Can you get Personal Independence Payment?
    </h1>
    
    <!-- terminal illness -->
    <fieldset class="inline">
    
      <legend class="form-label-bold add-padding" for="eligibility-q1">Do you get Disability Living Allowance?</legend>
    
      <div class="form-group"><!-- 'form-group-compound' -->	
        <label class="block-label" data-target="gets-dla" for="eligibility-q1-yes">
        <input id="eligibility-q1-yes" type="radio" name="eligibility-q1" value="Yes">
        Yes
        </label>
        <label class="block-label" for="eligibility-q1-no">
        <input id="eligibility-q1-no" type="radio" name="eligibility-q1" value="No">
        No
        </label>
      </div>
      
      <!--js-hidden-->
      <div class="panel-indent js-hidden" id="gets-dla">
          <label class="form-label" for="dla-letter">Have you been told to apply for Personal Independence Payment?</label>
          <p class="form-hint">You would have received a letter asking you to make a new claim.</p>
          <div class="form-group"><!-- 'form-group-compound' -->	
            <label class="block-label" for="dla-lettter-yes">
            <input id="dla-lettter-yes" type="radio" name="dla-letter" value="Yes">
            Yes
            </label>
            <label class="block-label" for="dla-lettter-no">
            <input id="dla-lettter-no" type="radio" name="dla-letter" value="No">
            No
            </label>
          </div>
      </div>
    </fieldset>
    <!--
   
    No - Warning Message
    
    -->
    
	<fieldset class="inline">
	
	 <legend class="form-label-bold add-padding" for="eligibility-q2">Do you live in England, Scotland or Wales?</legend>
	 <div class="form-group"><!-- 'form-group-compound' -->	
	       <label class="block-label" for="eligibility-q2-yes">
	         <input id="eligibility-q2-yes" type="radio" name="eligibility-q2" value="Yes">
	         Yes
	       </label>
	       <label class="block-label" for="eligibility-q2-no">
	         <input id="eligibility-q2-no" type="radio" name="eligibility-q2" value="No">
	         No
	       </label>         
	  </div>  
	  
	</fieldset>

    <!-- No - Warning message/living abroad and NI link 
    	
    Do you have difficulties with activities related to "daily living" and/or mobility? - i.e. their needs are not what we deem appropriate.
    
    -->
    
    <fieldset class="inline">
    
     <legend class="form-label-bold add-padding" for="eligibility-q3">Do you have long-term ill-health or a disability?</legend>
     <div class="form-group"><!-- 'form-group-compound' -->	
           <label class="block-label" for="eligibility-q3-yes" data-target="disability">
             <input id="eligibility-q3-yes" type="radio" name="eligibility-q3" value="Yes">
             Yes
           </label>
           <label class="block-label" for="eligibility-q3-no">
             <input id="eligibility-q3-no" type="radio" name="eligibility-q3" value="No">
             No
           </label>         
      </div>  
      
    <div class="panel-indent js-hidden" id="disability">
    
     <label class="form-label" for="eligibility-q4">Do you need support to live independently?</legend>
     <p class="form-hint">For example, you need help with activities in your daily life and/or because your mobility is limited.</p>
     <div class="form-group"><!-- 'form-group-compound' -->	
           <label class="block-label" for="eligibility-q4-yes">
             <input id="eligibility-q4-yes" type="radio" name="eligibility-q4" value="Yes">
             Yes
           </label>
           <label class="block-label" for="eligibility-q4-no">
             <input id="eligibility-q4-no" type="radio" name="eligibility-q4" value="No">
             No
           </label>         
      </div>  
      
    </fieldset>
    
    </div>
    
   	<!--
    
    	No - Warning message "Personal Independence payment is for… i.e. if your managing your condition with adequate medication you won't qualify"
    	
    Based on your answers you may not…
    
    
    
    Do you still want to apply? [ - Yes] [ - No]
    
    [Apply now]
    
    -->
    
    <!-- Primary buttons, secondary links -->
    <div class="form-group">
      <input type="submit" class="button" value="Continue">
      <!--<ul>
        <li><a href="/">Back</a></li>
      </ul>-->
    </div>

  </form>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}    