{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/sp_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="page-container" role="main">

  {{>includes/phase_banner}}
	  
	<div id="login-msg-header">
	  <div class="outer-block">
	      <div style="padding: 12px 0 0; color: #666; line-height: 1;"><!-- class="inner-block" -->         
	          <div> 
	          	<span class="font-xsmall">Andrew Smith: You last signed in 10:42am, 12 October 2014</span>
	          </div>
	      </div>
	  </div> 
	</div>
  
   
		<div class="grid-row">
		
			<div class="column-two-thirds">
			
			<h1 class="heading-xlarge" style="margin: 1em 0 0">Your State Pension</h1>	
  
			  <p class="font-medium">Based on the current law, you can get your State Pension on <strong>22 August 2017</strong> when you'll be <strong>65</strong>.</p>			  		       
			       
			  <div class="tab-content">     		          
			          
				  <div class="js-tabs nav-tabs">
					  <ul class="tabs-nav" role="tablist">
						  <li class="active"><a href="#current-sp-value" id="tab-current-sp-value">Current value</a></li>
						  <li><a href="#estimated-sp-value" id="tab-estimated-sp-value">Forecast for 2017</a></li>
					  </ul>	  
				  </div>
				    
				  <div class="tab-pane" id="current-sp-value" style="display: block;">       
				          
					  <div class="highlighted-event">
					  	<p>Today, the value of your State Pension is</p>
					  		<p><em>£140.40</em> <span>a week</span></p>
					  </div><!-- /.highlighted-event -->
					  
					  <p>This is equivalent to:</p>
					  <ul class="list-bullet">
					  	<li>£608.40 a month</li>
					  	<li>£7,300.80 a year</li>
					  </ul>  
					  
					  <p class="small">This amount is based on your National Insurance record up to 5 April 2014. You have reached the full rate. You will still need to continue paying National Insurance contributions as these fund other state benefits and the NHS. This amount may change as:</p>
				  
				  </div><!-- /.tab-pane -->
				  
				  <div class="tab-pane" id="estimated-sp-value" style="display: none;">       
				          
				    <div class="highlighted-event">
				    	<p>The estimate for your State Pension in 2017 is</p>
				    		<p><em>£140.40</em> <span>a week</span></p>		    		
				    </div><!-- /.highlighted-event -->
				    
				    <p>This is equivalent to:</p>
				    <ul class="list-bullet">
				    	<li>£608.40 a month</li>
				    	<li>£7,300.80 a year</li>
				    </ul>
				    
				    <p class="small">This amount is based on your National Insurance record up to 5 April 2014. You have reached the full rate. You will still need to continue paying National Insurance contributions as these fund other state benefits and the NHS. This amount may change as:</p>
				  
				  </div><!-- /.tab-pane -->
			  
			  </div><!-- /.tab-content -->              
        
        <details class="helptext">
        	<summary role="button">
            <span class="summary">the new State Pension scheme starts on 6 April 2016</span>
        	</summary>
          <div class="panel-indent">  
	          <p>The new scheme starts on 6 April 2016. The amount you carry forward into the new scheme will be based on your National Insurance record up to 5 April 2016. Until this time, the amount you receive may change.</p>
	          <p>The amount carried forward may be added to, and any amount over the full rate will be paid as an additional protected payment.</p>

          </div>
        </details>                    
                        
        <details class="helptext">
          <summary role="button">
              <span class="summary">State Pension rates normally go up each year</span>
          </summary>
          <div class="panel-indent">       
              <p>The government increases the rate of your State Pension each year (from April) by at least the level of growth in average earnings.</p>
          </div>
        </details>	
        
       <!-- <details class="helptext">
        	<summary role="button">
            <span class="summary">the age at which you can get your State Pension is changing</span>
        	</summary>
        	<div class="panel-indent"><p>The age at which you can claim your State Pension is gradually changing. For women it is slowly increasing from 60 to 65. Then the State Pension age will increase for both men and women in stages from 65 to at least 68.</p></div>
        </details> 	   -->       
			  
			  <h2 class="heading-medium" style="margin-top: 1.5em;">How to improve your State Pension</h2>
			  
			  <p>You can't improve your State Pension:</p>
			  <ul class="list-bullet">
			  	<li>You have reached the full rate.</li>
			  </ul>
		  	<p>Speak to a financial advisor and make any additional financial preparations for your future.</p>  	
		  
				<h2 class="heading-medium">Putting off claiming</h2>
				<p>You don’t have to start claiming when you reach 65 and you no longer have to pay National Insurance.
				
				<p>If you put off claiming, you may get extra State Pension when you do claim it. The extra amount is paid with your State Pension and may be taxable.</p>
				
				<p>You’ll need to put off claiming for at least 9 weeks and your State Pension will increase by 1% for every 9 weeks you put off claiming. This works out at just under 5.8% for every full year you put off claiming.</p>
	      
	      </div><!-- /.column-two-thirds -->
	      
	      <div class="column-third related">
	               
          <h2 class="heading-medium" style="border-top: 10px solid #005ea5; padding-top: 15px;">Your details</h2> 

          <nav role="navigation" aria-labelledby="parent-subsection">
          	<ul>         	
          	  <li>National Insurance number: JL 12 34 56 D</li>
							<li><a href="#">View your National Insurance record</a></li>
						</ul>
					</nav>

      	</div><!-- /.column-one-third -->

	      
		</div><!-- /.div-row -->
		
		
</main><!-- / #page-container -->

{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
