{{>includes/start-pages/sp_head}}
	
<div id="wrapper" class="programme">
      
<div class="grid-row">
        
<main id="content" role="main" class="multi-page">

<header class="page-header">
	<div>
	<h1>State Pension</h1>
	</div>
</header>

<div class="article-container group">

<div class="content-block">
<div class="inner">
        
<aside>
	<div class="inner">
   	<nav role="navigation" class="page-navigation page-navigation-closed">
    <ol>
			<li class="active"><span class="part-number">1.</span> <span>Overview</span></li>
      <li><span class="part-number">2.</span> <a href="/state-pension/start/what-youll-get" title="Part 2: What you'll get">What you'll get</a></li>
      <!--<li><span class="part-number">3.</span> <a href="/state-pension/start/eligibility" title="Part 3: Eligibility">Eligibility</a></li>
    </ol>
    <ol start="4">
			<li><span class="part-number">4.</span> <a href="/state-pension/start/further-information" title="Part 5: Further information">Further information</a></li>-->
    </ol>
		</nav>
	</div>
</aside>

<header><h1>1. Overview</h1></header>

<p>State Pension is a regular payment from the government that you can claim when you reach State Pension age.</p>

<p>You’ll be able to get State Pension if you’re <a href"#">eligible</a> and:</p>

<ul>
	<li>a man born on or after 6 April 1951 </li>
	<li>a woman born on or after 6 April 1953 </li>
</ul>

<div class="application-notice info-notice">
<p>The new State Pension will replace the current State Pension scheme. You’ll get your State Pension under the current scheme if you reach State Pension age before 6 April 2016.</p>
</div>

<p>You can still get a State Pension if you have other income like a <a href="http://gov.uk/personal-pensions-your-rights/personal-pensions">personal pension</a> or a <a href="http://gov.uk/workplace-pensions">workplace pension</a>.</p>

<p>View <a href="/state-pension/start/your-state-pension.html">your State Pension</a> to find out:
<ul>
	<li>how much you may get</li>
	<li>the earliest date you may get it</li>
	<li>view your National Insurance record and make payments</li>
</ul>

<!--
<p>If you reach State Pension age before 6 April 2016, you’ll need to read about the <a href="#">basic State Pension</a>.</p> 

<p>You’ll need at least 10 years on your National Insurance record that count towards your State Pension. This means for 10 years at least one or more of the following applied to you:</p>

<ul>
	<li>you were working and paid National Insurance contributions</li>
	<li>you were getting National Insurance credits, eg for unemployment, sickness or as a parent or carer</li>
	<li>you were paying voluntary National Insurance contributions</li>
</ul>

<p>If you’ve lived or worked abroad you may still be able to get some new State Pension. You may also qualify if you’ve paid married women’s or widow’s reduced rate contributions.</p>
<p>You may claim a State Pension even if you have a personal pension or a workplace pension.</p>

-->

<footer>
	<nav class="pagination" role="navigation">
	<ul class="group">
		<li class="next"><a href="/state-pension/start/what-youll-get" rel="next" title="Navigate to next part"> <span class="pagination-label">Next</span> <span class="pagination-part-title">What you'll get</span></a></li>
  </ul>
  </nav>
</footer>
 
<div class="print-link"><a href="#" rel="nofollow" target="_blank">Print entire guide</a></div>

</div>

</div>

<div class="meta-data group">
<p class="modified-date">Last updated: 10 February 2015</p>
</div>

</div>
</main>
	
	{{>includes/start-pages/sp_related}}
 	
</div><!-- /.grid-row -->
	      
</div><!-- /.wrapper -->
