{{>includes/start-pages/sp_head}}
	
<div id="wrapper" class="programme">
      
<div class="grid-row">
        
<main id="content" role="main" class="multi-page">

<header class="page-header">
	<div>
	<h1>State Pension</h1>
	</div>
</header>

<div class="article-container group">

<div class="content-block">
<div class="inner">
        
<aside>
	<div class="inner">
   	<nav role="navigation" class="page-navigation page-navigation-closed">
    <ol>
			<li class="active"><span class="part-number">1.</span> <a href="/state-pension/start/overview" title="Part 1: Overview">Overview</a></li>
      <li><span class="part-number">2.</span> <span>What you'll get</span></li>
      <!--<li><span class="part-number">3.</span> <a href="/state-pension/start/eligibility" title="Part 3: Eligibility">Eligibility</a></li>
    </ol>
    <ol start="4">
			<li><span class="part-number">4.</span> <a href="/state-pension/start/further-information" title="Part 5: Further information">Further information</a></li>-->
    </ol>
		</nav>
	</div>
</aside>

<header><h1>2. What you'll get</h1></header>

<p>The full new State Pension will be no less than £148.40 per week. The actual amount will be set in autumn 2015. </p>

<p>Your <a href="http://gov.uk/new-state-pension/your-national-insurance-record-and-your-state-pension">National Insurance record</a> is used to calculate your State Pension. You’ll usually need 10 qualifying years to get any State Pension.</p>

<p>The amount you get can be higher or lower depending on your National Insurance record. It will only be higher if you have over a certain amount of additional State Pension.</p>

<p>You may have to <a href="http://gov.uk/tax-national-insurance-after-state-pension-age/tax-on-your-state-pension-and-other-income">pay tax on your State Pension</a>.</p>

<p>View <a href="/state-pension/start/your-state-pension.html">your State Pension</a> to find out:
<ul>
	<li>how much you may get</li>
	<li>the earliest date you may get it</li>
	<li>view your National Insurance record and make payments</li>
</ul>

<!--<footer>
	<nav class="pagination" role="navigation">
	<ul class="group">
		<li class="next"><a href="/state-pension/start/what-youll-get" rel="next" title="Navigate to next part"> <span class="pagination-label">Next</span> <span class="pagination-part-title">What you'll get</span></a></li>
  </ul>
  </nav>
</footer>-->
 
<div class="print-link"><a href="#" rel="nofollow" target="_blank">Print entire guide</a></div>

</div>

</div>

<div class="meta-data group">
<p class="modified-date">Last updated: 10 February 2015</p>
</div>

</div>
</main>
	
	{{>includes/start-pages/sp_related}}
 	
</div><!-- /.grid-row -->
	      
</div><!-- /.wrapper -->
