{{>includes/start-pages/sp_head}}
	
<div id="wrapper" class="programme">
      
<div class="grid-row">
        
<main id="content" role="main" class="multi-page">

<header class="page-header">
	<div>
	<h1>Your State Pension</h1>
	</div>
</header>

<div class="article-container group">

<div class="content-block">
<div class="inner">
  
<p class="heading-medium">Use this service to:</p>              
    
    <ul class="list-bullet">
        <li>see how much pension you may get</li>
        <li>when you can get it</li>
        <li>view your National Insurance record</li>
    </ul>
    
    <p>You may be able to make payments towards your National Insurance record to increase your pension.</p>
	
	<div class="application-notice info-notice">
	<p>This service requires you to sign in with GOV.UK Verify.</p>
	</div>
	
	<div class="transaction">
		<p class="get-started group">
		<a class="button" href="/state-pension/dashboard-v6-incomplete.html">Start</a>
		</p>
	</div>
	
	<h2>Before you start</h2>
	
	<p>You can use this service based on the new State Pension if you’re:</p>
	 <ul class="list-bullet">
		 <li>a man born on or after 6 April 1951</li>
		 <li>a woman born on or after 6 April 1953</li>
	 </ul>
		
	 <p>If you were born before these dates you'll need a State Pension <a href="https://www.gov.uk/state-pension-statement" target="_blank" rel="external">statement</a>.</p>
    
</div>
</div>

<div class="meta-data group">
<p class="modified-date">Last updated: 10 February 2015</p>
</div>

</div>
</main>
	
	{{>includes/start-pages/sp_related}}
 	
</div><!-- /.grid-row -->
	      
</div><!-- /.wrapper -->
