{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  <header class="page-header">
    <h1>Prototypes</h1>
  </header>
<!--
<ul class="list-bullet">
	<li><a href="/state-pension/start/overview.html">Guide</a></li>
	<li><a href="/state-pension/start/your-state-pension.html">Start page</a></li>
	<li><a href="/state-pension/dashboard-v6-complete.html">Dashboard - Complete</a></li>
	<li><a href="/state-pension/dashboard-v6-incomplete.html">Dashboard - Incomplete</a></li>
	<li><a href="/state-pension/ni-record.html">NI record - Gaps</a></li>
	<li><a href="/state-pension/ni-record-no-gaps.html">NI record - No gaps</a></li>
</ul>
-->

</main>

{{/content}}

{{/layout}}
